<div id="card" class="card">
  <header class="card-header">

    <div class="stats-bar">
      <slot name="stats"></slot>
      <span id="name" class="card-title"></span>
    </div>
  </header>
  <section class="card-body">
    <span id="game" class="game"></span>
    <img id="img" src="../cards_img/default.webp" alt="" class="card-image">
    <span id="type" class="type"></span>
  </section>
  <footer class="card-footer">
    <span class="attack stat"><img src="../assets/signs/rock.png">
      <p id="rock"></p>
    </span>
    <span class="attack stat"><img src="../assets/signs/paper.png">
      <p id="paper"></p>
    </span>
    <span class="attack stat"><img src="../assets/signs/scissors.png">
      <p id="scissors"></p>
    </span>
  </footer>
</div>
